<% layout("layout/boilerplate")%>
<div class="row">
    <h1 class="text-center">新增營地</h1>
    <div class="col-6 offset-3">
        <form action="/campgrounds" method="POST" class="validated-form" novalidate>
            <div class="mb-3">
                <label class="form-label" for="title">標題</label>
                <input class="form-control" type="text" id="title" name="campground[title]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">地點</label>
                <input class="form-control" type="text" id="location" name="campground[location]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="image">圖片 URL</label>
                <input class="form-control" type="text" id="image" name="campground[image]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">營地價格</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" class="form-control" id="price" placeholder="0.00" aria-describedby="price-label" name="campground[price]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">營地描述</label>
                <textarea class="form-control"  id="image" name="campground[description]" required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-success">新增營地</button>
            </div>
            <div class="mb-3">
                <a href="/campgrounds" class="btn btn-primary">返回列表</a>
            </div>

        </form>


    </div>
</div>



